*{
    margin: 0;
    padding: 0;
}

.main{
     width: 100%;
    background: url(back.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    margin: auto;
    display: flex;
    padding: 15 px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: -6%;

}

ul{
    margin: -4;
}

 ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
 }

 ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: aqua;
    margin-top: -3%;
    transition: .4s ease;
 }

 ul li a:hover{
    color: rgb(230,130,59);
 }
 .info{
    color: aliceblue;
    margin-left: 7%;
    margin-top: 6%;
 }

 .info h1{
    color: brown;
    font-size: 50px;
 }

 .info h3{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .info  span{
    color:darkgoldenrod;
 }
 .image{
    width: 40%;
    height: 50%;
    position: absolute;
    right: 80px;
    bottom: 10;
 }

 .image img{
        position: absolute;
        height: 150%;
        left: 50%;
        top: -70%;
        transform: translate(-55%);
        bottom: 0;

 }